body {
    background-color: rgb(249, 233, 203);
    text-align: center;
    font-family: "Montserrat Alternates","FontAwesome";
}

#header h1 {
    font-family: "Tourney";
    font-size: 3rem;
    color: rgb(255 109 109);
    text-shadow:  18px 11px 20px rgba(0,0,0, 0.3);
}

#main {
    cursor:pointer;
    margin: 0 auto;
    padding: 36px;
    width: 40%;
    text-align: left;
    background-color: white;
    border-radius: 15px;
    box-shadow: 18px 11px 20px rgba(0,0,0, 0.3);
}

#main #user-entry {
    margin: 0 auto 40px;
    /* width: 80%; */
    width: 60%;
    display: flex;
}

#user-entry input {
    padding: 3px;
    width: 100%;
    background-color: rgb(255, 239, 239);
    /* border-width: 0; */
    /* border-color: transparent; */
    font-family: inherit;
    font-size: 1.2rem;
}
#user-entry input:focus{
    background-color: rgb(245, 173, 173);
    border-color: transparent;
    border-width: 0;
}
#user-entry button {
    font: inherit;
    font-size: 1.7rem;
    background-color: transparent;
    border-width: 0;
    color: red;
    /* text-shadow: 0 0px 20px rgb(255, 22, 22); */
}

#main ul {
    list-style:none;
    margin: 0;
    padding: 0;
}

li {
    cursor:pointer;
    padding-bottom: 1rem;
}

.checked {
    color: rgb(108, 104, 104);
}
.checked .text {
    text-decoration: line-through;
}

li.empty {
    text-align: center;
    color: rgb(128, 103, 103);
}
#main span.tick {
    font-family: Font-awesome;
}